@{
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}
    <section class="sign-in">
        
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/Content/assets/img/signin-image.jpg" alt="sing up image"></figure>
                    <a href="@Url.Action("Index", "Registro")" class="signup-image-link">Criar uma Conta</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            @Html.Label(" ", new { @class = "zmdi zmdi-account-circle material-icons-name" })
                            <input type="text" name="your_name" id="your_name" placeholder="Usuario" />
                        </div>
                        <div class="form-group">
                            @Html.Label(" ", new { @class = "zmdi zmdi-lock" })
                            <input type="password" name="your_pass" id="your_pass" placeholder="Senha" />
                        </div>

                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Login" />
                        </div>
                    </form>
                </div>
            </div>
       
    </section>
