
@{
    /**/

    ViewBag.Title = "Estoque";
}

<h2>Index 3</h2>
<script src="~/Content/assets/js/MenuAtivo.js"></script>
<script>
    $('#ItemEstoque').addClass('active');


</script>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/assets/css/StyleSheet1.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/assets/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/assets/js/bootstrap-table.js"></script>
<script type="text/javascript" src="~/Content/assets/js/demo.js"></script>
<script src="~/Content/assets/js/TableScript.js"></script>



<body>
    <style>
        .form-control {
        }
    </style>



    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Cadastro Estoque</h5>
                </div>
                <div class="card-body">

                    <form class="pure-form pure-form-aligned">
                        <fieldset>
                            <div class="pure-control-group">
                                @Html.Label("Nome Ingrediente")
                                <input class="col-8" id="NomeIngrediente" type="text" placeholder="Nome do Ingrediente">
                            </div>

                            <div class="pure-control-group">
                                @Html.Label("Preço")
                                <input class="col-8" type="number" step="any" id="PrecoIngrediente" placeholder="Preço do Ingrediente">
                            </div>

                            <div class="pure-control-group">
                                @Html.Label("Quantidade")
                                <input class="col-8" type="number" step="any" id="QuantidadeIngrediente" placeholder="Quantidade do Ingrediente">
                            </div>

                            <div class="pure-control-group">
                                @Html.Label("Data Validade")
                                    <input class="form-control col-8" type="date" id="DataValidade" >
                            </div>

                            <div class="pure-control-group">
                                <label for="foo">Descrição Ingrediente</label>
                                <textarea class="col-8" placeholder="Descrição"></textarea>
                            </div>
                            <div class="pure-controls">
                                <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-body">
                    <div class="description">
                        <h2>Fresh Bootstrap Table</h2>
                    </div>

                    <div class="fresh-table toolbar-color-orange">

                        <div class="toolbar">
                            <button id="alertBtn" class="btn btn-default">Alert</button>
                        </div>

                        <table id="fresh-table" class="table">
                            <thead>
                            <th data-field="id">ID</th>
                            <th data-field="name" data-sortable="true">Name</th>
                            <th data-field="salary" data-sortable="true">Salary</th>
                            <th data-field="country" data-sortable="true">Country</th>
                            <th data-field="city">City</th>
                            <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>$56,142</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Chaney</td>
                                    <td>$38,735</td>
                                    <td>Korea, South</td>
                                    <td>Overland Park</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Doris Greene</td>
                                    <td>$63,542</td>
                                    <td>Malawi</td>
                                    <td>Feldkirchen in Kärnten</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Mason Porter</td>
                                    <td>$78,615</td>
                                    <td>Chile</td>
                                    <td>Gloucester</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Alden Chen</td>
                                    <td>$63,929</td>
                                    <td>Finland</td>
                                    <td>Gary</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Colton Hodges</td>
                                    <td>$93,961</td>
                                    <td>Nicaragua</td>
                                    <td>Delft</td>
                                    <td></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function () {
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 6,
                pageList: [6, 10, 25, 50, 100],

                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function (pageNumber) {
                    return pageNumber;
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });



            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });


           


        });

        


    </script>









